{% extends 'shared/_layout.html' %}
{% load static %}

{% block content %}

<!-- main -->

    <div class="main">

      <div class="main-header">

        <h1>فرم ثبت موبایل
          <img src="{% static 'icons/Pre-assessment.png' %}"></img>
        </h1>
        <h2> اطلاعات موبایل های موجود در انبار شرکت </h2>

      </div>

      <div class="form">
          
      </div>
      <div class="form"></div>
      <div class="form"></div>
      <div class="form"></div>
      <div class="form"></div>
      <button class="button-19" role="button">تایید</button>
    </div>

<!-- main -->


{% endblock %}